aiohttp==3.9.5
aiosignal==1.3.1
arq==0.25.0
attrs==23.2.0
bitmath==1.3.3.1
cattrs==23.2.3
certifi==2024.2.2
click==8.1.7
fixcloudutils==1.15.0
frozenlist==1.4.1
hiredis==2.3.2
idna==3.7
kubernetes-asyncio==29.0.0
multidict==6.0.5
prometheus-client==0.20.0
python-dateutil==2.9.0.post0
pyyaml==6.0.1
redis==5.0.4
six==1.16.0
typing-extensions==4.11.0
urllib3==2.2.1
yarl==1.9.4

# The following packages are considered to be unsafe in a requirements file:
# setuptools
